<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Banner</title>
    <style>
        .container {
            background-color: rgb(255, 252, 209);
            width: 100%;
            padding: 2rem;
        }

        .row {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }

        [class^="col-"] {
            padding: 0 1.5rem;
        }

        .col-2 {
            width: 16.666;
        }

        .col-10 {
            width: 83.33;
        }

        .img {
            border-radius: 50%;
            width: 13rem;
            height: 13em;
            object-fit: cover;
        }

        p {
            margin: 10px 0;
            font-size: 2.7rem;
            color: red;
            font-weight: bold;
            font-family: sans-serif;
        }
    </style>
</head>

<body>

    <div id="html-content" class="container">
        <div class="row">
            <div class="col-2">
                <img id="img" class="img" src="<%= qs.image %>" alt="image" />
            </div>
            <div class="col-10">
                <p>
                    <span id="name">
                        <%= qs.name %>
                    </span> is a Top Answerer.
                </p>
                <p>Recorded
                    <span id="count">
                        <%= qs.count %>
                    </span> answers today.
                </p>
            </div>
        </div>
    </div>

</body>

</html>